workflow.json
{
  "name": "AI Support Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa901e90-242e-4db4-8873-0293b45cd150",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        -240
      ],
      "id": "01ac52c5-0123-4279-b316-ba0736a42bdb",
      "name": "Webhook",
      "webhookId": "aa901e90-242e-4db4-8873-0293b45cd150"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b2b374d-7cf7-4423-ada9-358f7c50ed69",
              "name": "Build Prompt",
              "value": "Hello from my first n8n Workflow",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -592
      ],
      "id": "eb3a0a49-2b02-4848-ba8d-401aeef88742",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 200,\n  \"system\": \"You are a customer support assistant for Cherry Enterprises, an online store selling laptops, phones, and accessories. Answer only questions about orders, shipping, returns, and product basics. If asked anything unrelated, politely redirect the user to contact human support at support@brcherry.example. Keep answers under 3 sentences.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Webhook').item.json.body.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -416
      ],
      "id": "f721a71d-b83c-4499-a2c9-b9a33a9f5609",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4ZJAKLgykCy7Htub",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5683a0bd-5466-47bf-83b6-55e8095f2cc9",
              "name": "reply",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -592
      ],
      "id": "d02ed44b-d3d5-46ce-9498-3df015d58ca1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.reply } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -432
      ],
      "id": "8a043cac-fab6-4aeb-bd64-fc5d8acfc4f8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6c2794b-6313-46b5-b624-5c5246e256ef",
              "leftValue": "={{ $json.body.prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        -400
      ],
      "id": "f347b8f7-72fe-43fa-b680-0a630c304c12",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Missing required field: prompt\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -368,
        -224
      ],
      "id": "baeb878d-8837-4934-acf5-70f740756e67",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"AI service temporarily unavailable. Please try again.\" } }}",
        "options": {
          "responseCode": 502
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        -240
      ],
      "id": "8ee88066-a0f6-459d-885a-442d9e49a2f7",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "944ac813-9b6a-4429-b3c6-7a02cc95e000",
  "meta": {
    "instanceId": "cce2c032441901a06efd0b7f3db707fb1de4f2861f1b63fd7f7d9a01eddf005e"
  },
  "nodeGroups": [],
  "id": "Hi3ZrBpVD1X5pmwq",
  "tags": []
}